@{
    ViewBag.Title = "Настройки";
}
<h2> <img src="~/Content/WorkflowCharts.png" alt="logo"> </h2>
<h2>@ViewBag.Title.</h2>

<h3>Настройки соединения с ELMA</h3>
<hr/>
<p>@Html.ActionLink("Настройки ELMA", "../Elma/Index")</p>


<h3>Добавление нового пользователя</h3>
<hr/>
<p>
    @Html.ActionLink("Регистрация нового пользователя", "Register")
</p>